<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>新闻显示</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        table{
            font-size: 16px;
        }
    </style>
</head>
<body>
<!-- 导航条 -->
<include file="public:nav" />

<div class="container" style="width: 70%;">
<h4 align="center" style="color: #906c55;">新闻详情</h4>
<volist name="list" id="vo">
<table width="739" border="0" align="center" cellpadding="0" cellspacing="0" class="table">
  <tr>
      <td align="center" style="width:500px;height:30px;border:1px dashed grey;">{$vo.news_title}</td>
  </tr>
  <tr>
      <td align="center" style="width:500px;height:50px;border:1px dashed grey;">作者：{$vo.news_author}  |发布时间：{$vo.news_date} |点击次数：{$vo.news_hits}次</td>
  </tr>
  <tr>
      <td style="width:500px;height:450px;border:1px dashed grey;vertical-align:top;">  &nbsp;&nbsp; {$vo.news_content}</td>
  </tr>
</table>
</volist>
</div>

</body>
</html>